{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des menus</h1>

    {% if (is_granted('ROLE_SERVEUR')) %}

        <div class="panel panel-default">
            <div class="panel-body">

                <a href="{{ path('menu_new') }}" class="btn btn-primary">+ Ajouter un nouveau menu</a>

                <br>

                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Prix</th>
                        <th>Ordre</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for menu in menus %}
                    <tr>
                        <td><a href="{{ path('menu_show', { 'id': menu.id }) }}">{{ menu.id }}</a></td>
                        <td>{{ menu.titre }}</td>
                        <td>
                            <a href="{{ path('utilisateur_show', { 'id': menu.auteur.id }) }}">{{ menu.auteur.prenom }} {{ menu.auteur.nom }}</a>
                        </td>
                        <td>{{ menu.prix }}</td>
                        <td>{{ menu.ordre }}</td>
                        <td>{{ menu.statut }}</td>
                        <td>
                            {% if is_granted('ROLE_SERVEUR') %}
                                <a href="{{ path('menu_show', { 'id': menu.id }) }}" class="btn btn-primary" role="button">Afficher</a>
                            {% endif %}

                            {% if (is_granted('ROLE_EDITEUR') and menu.auteur.id == app.user.id) or is_granted('ROLE_REVIEWER') %}
                                <a href="{{ path('menu_edit', { 'id': menu.id }) }}" class="btn btn-success" role="button">Modifier</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

    {% else %}

        <div class="panel panel-default">
            <div class="panel-body">
                {% for menu in menus %}

                    {% if menu.statut == "validé" %}

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8"><h3>{{ menu.titre }} <small>({{ menu.prix }} €)</small></h3></div>
                                    <div class="col-md-4">
                                        <a href="{{ path('menu_show', { 'id': menu.id }) }}" class="btn btn-default pull-right" role="button">Afficher le détail</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>
        </div>

    {% endif %}

{% endblock %}
